h1, h2 {
    color: purple;
  }
  
  p {
    color: gray;
    font-size: 18px;
  }
.list{
    color: rebeccapurple;
    border: 2px solid black;
    margin-left: 42%;
    margin-right: 42%;
    background-color: rgb(245, 186, 25);
    text-align: left;
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(0, 128, 0);
}
/* body{
    background-color: rgb(202, 202, 233);
    text-align: center;
} */
button{
    margin-bottom: 10px;
}
dt{
    color: brown;
}
dl{
    color: white;
}
.head{
    color: black;
}
ul{
    border: 2px solid orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ol{
    border: 2px solid purple;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
span{
    color: purple;
    font-weight: bold;
}
abbr, time {
    color: green;
  }